{% extends 'pages/main.html' %}


{% block script %}
    <script>
        $(function () {
            $("#btn_request").on("click", function () {
                $.post("../postmethod/", function (data) {
                    alert(data);
                })

            })
        })
    </script>

{% endblock %}

{% block content-subpage %}
    {% if request.user.is_authenticated %}
        {{ request.user.username }}，您好！
    {% else %}
        请登陆，这里放登陆链接
    {% endif %}


    <ul>
        {% for person in persons %}
            <li>{{ person.name }}:{{ person.age }}</li>
        {% endfor %}
    </ul>

    当前时间： <span>{{ nowtime }}</span><br/>
    当前请求方式 ：{{ method }}

    <button id="btn_request">post请求</button>

{% endblock %}