<div class="modal fade bs-example-modal-sm" id="hgzo_dialog" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-keyboard="false">
    <div class="modal-dialog modal-sm" style="height:50px;line-height:50px;">
        <div class="modal-content" style="text-align:center;">
            <div id="hgzo_dialog_content"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>