{% extends 'pages/main.html' %}

{% block substyle %}


{% endblock %}



{% block subcontent %}


    <div class="container-fluid" style=" padding:0px; padding-top: 20px;">

        <div id="div_filter">
            <div class="row">
                <div class="col-md-2">
                    <input id="txt_shopname" class="form-control" type="text" placeholder="商户名"/>
                </div>

                <div class="col-md-3">
                    <input id="btn_search" type="button" class="btn btn-info" style="width: 30%" value="查询"/>
                </div>
                <div class="col-md-3">
                    <input id="btn_add" type="button" class="btn btn-default" value="新增"/>
                    <input id="btn_modify" type="button" class="btn btn-default" value="修改"/>
                    <input if="btn_delete" type="button" class="btn btn-default" value="删除"/>
                </div>
            </div>
        </div>

        <div id="div_table" style="padding-top:20px">
            <table id="table_data" class="table table-bordered" style="width: 1500px">
                <thead>
                <tr class="info">
                    <th hgzo-col-field=""><input type="checkbox"></th>
                    <th hgzo-col-field="shop_name">商铺名称</th>
                    <th hgzo-col-field="floor">商户所在楼层</th>
                    <th hgzo-col-field="location">商铺的铺位号</th>
                    <th hgzo-col-field="logo">Logo</th>
                    <th hgzo-col-field="true_scene">实景图</th>
                    <th hgzo-col-field="telephone">商铺电话</th>
                    <th hgzo-col-field="contact">店铺联系人</th>
                    <th hgzo-col-field="contact_tel">联系人电话</th>
                    <th hgzo-col-field="introduction">商户的简介</th>
                    <th hgzo-col-field="category.label">类别</th>
                    <th hgzo-col-field="">创建时间</th>
                    <th hgzo-col-field="opening_time">开业时间</th>
                    <th hgzo-col-field="member.nick_name">对应管理员</th>
                </tr>
                </thead>
            </table>

            <div class="btn-group">
                <button id="btn_previous" class="btn btn-default">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>
                <button id="btn_next" class="btn btn-default">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
        </div>


        <div class="modal fade" role="dialog" id="div_sub" style="overflow:auto;">

            <div class="modal-dialog" role="document">
                <div class="modal-content" >
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">请维护商户信息</h4>
                    </div>
                    <div class="modal-body" id="div_eachModify">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="control-label">商铺名称</label>
                                <input id="txt_shopName" type="text" class="form-control" hgzo-error-field="shop_name"/>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label">楼层</label>
                                <input type="text" id="txt_floor" class="form-control" hgzo-error-field="floor"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="control-label">铺位号</label>
                                <input type="text" id="txt_shopLocation" class="form-control" hgzo-error-field="location"/>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label">分类</label>
                                <select class="form-control" id="sl_category" hgzo-select-val="id" hgzo-select-html="label" hgzo-error-field="category.id">
                                    <option selected></option>
                                </select>
                                {#                                <input type="text" id="txt_category" class="form-control"/>#}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group" id="div_upload_logo">
                                <label class="control-label">logo</label>
                                <input type="file" id="txt_shopLogo" class="form-control" hgzo-error-field="logo"/>

                                {#                                <input type="button" id="btn_upload_logo" class="form-control"/>#}
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label">实景图</label>
                                <input type="file" id="txt_shopLogo" class="form-control" hgzo-error-field="true_scene"/>

                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="control-label">商铺电话</label>
                                <input type="text" id="txt_shopPhone" class="form-control" hgzo-error-field="telephone"/>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label">店铺联系人</label>
                                <input type="text" id="txt_shopContact" class="form-control" hgzo-error-field="contact"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="control-label">联系人电话</label>
                                <input type="text" id="txt_shopContactPhone" class="form-control" hgzo-error-field="contact_tel"/>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label">开业时间</label>
                                <input type="text" id="txt_shopOpeningTime" class="form-control" hgzo-error-field="opening_time"/>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label">对应管理员</label>
                                 <select id="sl_shopAdmin" class="form-control" hgzo-select-val="id" hgzo-select-html="nick_name" hgzo-error-field="member.">
                                    <option selected></option>
                                </select>
{#                                <input type="text" id="txt_shopAdmin" class="form-control"/>#}
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label">简介</label>
                                <textarea style="resize: none;height: 100px;" id="txt_shopIntroduction"
                                          class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btn_submit" class="btn btn-primary">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block subscript %}


    <script src="/static/scripts/moxie.js"></script>
    <script src="/static/scripts/plupload.dev.js"></script>
    <script src="/static/scripts/qiniu.js"></script>


    <script src="/static/pages/modules/shop/shopinfomanage.js"></script>


{% endblock %}