<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <link href="/static/styles/bootstrap.min.css" rel="stylesheet">
    <link href="/static/styles/sb-admin-2.css" rel="stylesheet" type="text/css">

    {% block style %}{% endblock %}
</head>
<body>

{% block content %}

{% endblock %}
<!-- jQuery -->
<script src="/static/scripts/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/scripts/bootstrap.min.js"></script>


<!--[if lt IE 9]>
        <script src="/static/scripts/html5shiv.js"></script>
        <script src="/static/scripts/respond.min.js"></script>
    <![endif]-->

    {% block script %}{% endblock %}
</body>
</html>